{% if author.avatar %}
  <div class="author__avatar">
    <img src="{{ author.avatar | relative_url }}" class="author__avatar" alt="{{ author.name }}">
  </div>
{% endif %}

{% if author.name %}
  <h2 class="author__name">{{ author.name }}</h2>
{% endif %}

{% if author.bio %}
  <p class="author__bio">{{ author.bio }}</p>
{% endif %}

<ul class="author__info">
  {% if author.location %}
    <li><i class="fas fa-map-marker-alt"></i> {{ author.location }}</li>
  {% endif %}
  {% if author.employer %}
    <li><i class="fas fa-university"></i> {{ author.employer }}</li>
  {% endif %}
  {% if author.email %}
    <li><i class="fas fa-envelope"></i> <a href="mailto:{{ author.email }}">{{ author.email }}</a></li>
  {% endif %}
</ul>
